<html>
<head>
	
	<script src="../static/jquery-3.4.1.js"></script>
    <script src="../static/index.js"></script>
    <link href="../static/main.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">      
</head>

<body>

  <div>

      <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>
  </div>
    
<div class="image-section" id="divImageSection">
  <div class="img-preview">
      <div id="imagePreview">
      </div>
  </div>
  <div>
      <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
  </div>
</div>

<!-- <button  id="btnSubscribe" >Subscribe</button> -->
<div class="loader" style="display:none;"></div>

<h3 id="result">
    <labe id="lblResult"></labe>
</h3>

<input type="button" class="upload-label" name="btnSubscribe" value="Subscribe" id="btnSubscribe" />

</body>
</html>